{% extends "admin/base.html" %}
{% block branding %}
    <div id="site-name">
        <a href="{% url 'admin:index' %}">
            {{ site_header }}
        </a>
    </div>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>{{ message }}</h1>
                <p>{{ additional_data }}</p>
            </div>
        </div>
    </div>
    <div style="padding: 0 8px">
        <ul class="sortable nested-sortable">
            <li id="item_1"><span class="drag-handle">⇅</span><span class="drag-handle">⯅</span>
                <label>
                    <input type="checkbox"/>
                    Item 1</label>
                <ul class="nested-sortable sortable">
                    <li id="item_2"><span class="drag-handle">⇅</span><span class="drag-handle">⯆</span>
                        Item 2
                        <ul class="nested-sortable sortable"></ul>
                    </li>
                    <li id="item_3"><span class="drag-handle">⇅</span><span class="drag-handle">⯆</span>
                        Item 3
                        <ul class="nested-sortable sortable"></ul>
                    </li>
                </ul>
            </li>
            <li id="item_4"><span class="drag-handle">⇅</span><span class="drag-handle">⯆</span>
                Item 4
                <ul class="nested-sortable sortable">
                    <li id="item_5"><span class="drag-handle">⇅</span><span class="drag-handle">⯆</span>Item 5
                        <ul class="nested-sortable sortable"></ul>
                    </li>
                    <li id="item_6"><span class="drag-handle">⇅</span><span class="drag-handle">⯆</span>
                        Item 6
                        <ul class="nested-sortable sortable">
                            <li id="item_7"><span class="drag-handle">⇅</span><span class="drag-handle">⯆</span>Item 7
                                <ul class="nested-sortable sortable"></ul>
                            </li>
                            <li id="item_8"><span class="drag-handle">⇅</span><span class="drag-handle">⯆</span>Item 8
                                <ul class="nested-sortable sortable"></ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li id="item_9"><span class="drag-handle">⇅</span><span class="drag-handle">⯆</span>Item 9
                <ul class="nested-sortable sortable"></ul>
            </li>
        </ul>
    </div>
    <br/>
    <div class="nsm-content">
        <button id="testbtn" class="button" onclick="testclick()">Test btn</button>
    </div>
{% endblock %}
{% block footer %}
    {% include "admin/nested-set-model/style.html" %}
    {% include "admin/nested-set-model/jquery.html" %}
    {% include "admin/nested-set-model/jquery-ui.html" %}
    {% include "admin/nested-set-model/js-script.html" %}
{% endblock %}