<style>
    .nsm-content {
        background: var(--darkened-bg);
        padding: 8px;
        border-radius: 4px;
    }

    .sortable {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    .sortable li {
        margin: 2px 0;
        padding: 2px;
        border: 1px solid var(--hairline-color);
        border-radius: 4px;
        list-style-type: none;
    }

    .nested-sortable {
        padding: 5px 0 5px 10px;
    }

    .ui-state-highlight {
        background: var(--header-color);;
    }

    .ui-sortable-helper {
        color: orange;
        background: var(--darkened-bg);
    }

    .drag-handle, .sorttable-accordion {
        cursor: move;
        background: var(--button-bg);
        padding: 0 4px;
        border: none;
        border-radius: 4px;
        color: var(--button-fg);
        margin-right: 5px;
    }

    .drag-handle:hover, .sorttable-accordion:hover {
        opacity: 0.9;
    }

    .drag-handle {
        cursor: move;
    }

    .sorttable-accordion {
        cursor: pointer;
    }
</style>